.filterContainer {
  display: flex;
  position: relative;
  width: 500px;
  margin: 0 auto;
  padding-bottom: 20px;
  flex-direction: column;
}

.filterTitle {
  text-align: center;
  font-size: 28px;
  margin-bottom: 0;
}

.filterInput {
  margin: 0 auto;
  width: 80%;
  font-size: 18px;
  font-family: Consolas;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  border: none;
  background: transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #4b4b4b;
}

.filterInput:hover,
.filterInput:focus {
  border: none;
  background: transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 2px solid #757575;
}

.iconFilter {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 55px;
  top: 60px;
  z-index: 9;
  
}
