.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;

}

.username {
  font-weight: 700;
  color: #FFD700;
  margin-right: 12px;
}

.btn {
  cursor: pointer;
  /* width: 150px; */
  height: 30px;
  /* margin-top: 10px; */
  margin-left: 20px;
  font-family: Consolas;
  font-size: 16px;
  border-radius: 8px;
  /* background-color: #4682B4; */
  color: #4682B4;
  border: 1px solid #4682B4;
  transition: transform 250ms linear;
}

.btn:hover,
.btn:focus {
  background-color: #006699;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid #006699;
  color: #fff;
  transform: scale(1.1);
}
